{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<style>
    @media (prefers-color-scheme: dark) {
      html, body { background:#1a1d24; color:#e2e2e2; }
      .masthead, .page__hero, .sidebar, .page__meta { background:#161a20; }
      .page, .page__inner-wrap { background:#1a1d24; }
      .page__content a { color:#9cc7ff; }
      .page__content code, .highlight { background:#202532; }
      .author__urls-wrapper .btn { background:#262a33; color:#ddd; }
      .greedy-nav a, .masthead a { color:#dedede; }
      hr { border-color:#383e49; }
      table { background:#1a1d24; }
      table td, table th { border-color:#383e49; }
    }
</style>

<!-- end custom head snippets -->
